@import './base';

html,body{
  font-family: 'Conso', 'Courier New', monospace;
  font-size: 14px;
  background-color: $base-color;
  color: $white;
}

.MainWrapper{
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 60px;

  @include mq(md){
    width: 80%;
  }

  @include mq(md){
    width: 60%;
  }
  
  .Content{
    display: flex;
  }
}

