@import './base';

html,body{
  font-family: 'Conso', 'Courier New', monospace;
  font-size: 14px;
  background-color: $base-color;
  color: $white;
}

.MainWrapper{
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;

  @include mq(md){
    width: 70%;
  }

  @include mq(lg){
    width: 50%;
  }
  
  .Content{
    
    @include mq(md){
      display: flex;
    }
  }
}

